body {
  font-family: Consolas;
}

a {
  text-decoration-line: none;
  color: cornflowerblue;
}

a:hover {
  color: mediumpurple;
}

img {
  border: 4px solid mediumpurple;
  border-radius: 15px;
}

table {
  margin: 5px;
  padding: 10px;
}
th {
  padding: 5px;
  background-color: cornflowerblue;
}
td {
  padding: 5px;
}

#tr1 {
  background-color: antiquewhite;
}
#tr2 {
  background-color: cornflowerblue;
}
#tr3 {
  background-color: antiquewhite;
}

ol {
  list-style-type: circle;
}

