<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Restaurant app</title>
  <script src="../page.js" defer></script>
  <link rel="stylesheet" href="../page.css">

</head>

<body>
<section class="header">
  <nav>
    <a href="page.html"><img src="../images/logo.png" alt="broccoli logo"></a>
    <div class="nav-links" id="nav-links">
      <a class="close-menu" onclick="closeMenu()">CLOSE</a>
      <ul>
        <li><a id="home" href="page.html">HOME</a></li>
        <li><a id="restaurants" href="restaurants.html" >RESTAURANTS</a></li>
        <li><a id="account" href="account.html">CREATE AN ACCOUNT</a></li>
        <li><a id="login" href="login.html">LOGIN</a></li>
      </ul>
    </div>
    <a class="menu" onclick="openMenu()">MENU</a>
  </nav>
  <div class="text-box" id="box">
    <h1>Login</h1>
    <form method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <br>
      <button type="submit">Submit</button>

    </form>

  </div>
</section>
</body>
</html>
