<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Restaurant app</title>
  <script src="../restaurantMap.js" defer></script>
  <script src="../fetchData.js" defer></script>
  <link rel="stylesheet" href="../page.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
</head>

<body>
<section class="header">
  <nav>
    <a href="page.html"><img src="../images/logo.png" alt="broccoli logo"></a>
    <div class="nav-links" id="nav-links">
      <a class="close-menu" onclick="closeMenu()">CLOSE</a>
      <ul>
        <li><a id="home" href="page.html">HOME</a></li>
        <li><a id="restaurants" href="restaurants.html" >RESTAURANTS</a></li>
        <li><a id="account" href="account.html">CREATE AN ACCOUNT</a></li>
        <li><a id="login" href="login.html">LOGIN</a></li>
      </ul>
    </div>
    <a class="menu" onclick="openMenu()">MENU</a>
  </nav>
  <div class="text-box" id="box">
    <br>
    <div id="map">
    </div>
    <br>
    <a class="btn" >Show closest restaurant</a>
    <form>
      <label for="restaurantSearch" class="restLbl" >Search by name</label>
      <br>
      <input type="text" id="restaurantSearch" class="restaurantSearch" name="restaurantSearch"/>
      <br>
      <button type="submit" class="searchBtn">Search</button>
    </form>
  </div>

</section>
</body>
</html>
